{% extends "base.html" %}
{% block title %}
    <title>profile</title>
{% endblock  %}

{% block content %}
<div class="grid grid-cols-4 gap-4 m-12">
    <img class=" bg-left-top size-28 ml-auto rounded-3xl mr-3" src="https://i.pinimg.com/736x/c9/56/49/c95649ed4ecd549c3df90c2d62459254.jpg" alt="">

    <p class="text-3xl font-gummy content-center col-span-2">USER_NAME</p>

    <div  class="flex mr-6 ml-auto ">
                        
                        
        <button class=" py-3 px-4 inline-flex items-center gap-x-2  font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800 text-3xl mt-6 mb-6 mr-5 font-gummy">
            GIT</button>
   


        
            <button class="py-3 px-4 inline-flex items-center gap-x-2  font-medium rounded-lg border border-transparent bg-slate-100 text-black hover:bg-slate-300 focus:outline-none focus:bg-slate-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800 text-3xl mt-6 mb-6 mr-5 font-gummy"> 
            EDIT
            </button>
      
    </div>
    
</div>
<div class="flex gap-4">
    <div class="grid grid-flow-row grid-cols-3  gap-4 m-12 w-[65%]">

        <div class="col-start-2 ">
            <p class="text-3xl font-gummy content-center">Name :  </p> 
            <p class="text-xl font-gummy content-center  pb-6 text-gray-600">
                KMRTUMKUNG
            </p>
        </div>

        <div class="col-start-3 ">
        <p class="text-3xl font-gummy content-center  ">surname :  </p>
        <p class="text-xl font-gummy content-center pb-6  text-gray-600">
            KIMURAKENJIRO
        </p>
        </div>        

        <div class="col-start-2 ">
            <p class="text-3xl font-gummy content-center">Start date  :  </p> 
            <p class="text-xl font-gummy content-center  pb-6 text-gray-600">
                15 Oct 2024
            </p>
        </div>

        <div class="col-start-3 ">
        <p class="text-3xl font-gummy content-center  ">Date of birth :  </p>
        <p class="text-xl font-gummy content-center pb-6  text-gray-600">
            21 feb 2005
        </p>
        </div>        
        
        <div class="col-start-2 ">
        <p class="text-3xl font-gummy content-center  ">Gmail :  </p>
        <p class="text-xl font-gummy content-center pb-6  text-gray-600">
            Sewatanokup@gmail.com
        </p>
        </div>        
        
        <div class="col-start-3 ">
        <p class="text-3xl font-gummy content-center  ">Phone_Number :  </p>
        <p class="text-xl font-gummy content-center pb-6  text-gray-600">
            061-924-2467
        </p>
        </div>        

    </div>
    <div class="w-[20%] border-4 border-black rounded-xl ">
        <div> 
            <p class="text-3xl pl-10 pt-5 pb-3 font-gummy ">My Project</p> 
        </div>
        

        <div class="p-3 flex">
            <div class="w-[30%]">
                <img class="rounded-full" src="https://i.pinimg.com/736x/c9/56/49/c95649ed4ecd549c3df90c2d62459254.jpg" alt="">
            </div>
            <div class="w-[70%] text-center  content-center">
                <p>PROJECT_NAME</p>
            </div>
        </div>
                <div class="p-3 flex">
                    <div class="w-[30%]">
                        <img class="rounded-full" src="https://i.pinimg.com/736x/c9/56/49/c95649ed4ecd549c3df90c2d62459254.jpg" alt="">
                    </div>
                    <div class="w-[70%] text-center  content-center">
                        <p>PROJECT_NAME</p>
                    </div>
                </div>
                        <div class="p-3 flex">
                            <div class="w-[30%]">
                                <img class="rounded-full" src="https://i.pinimg.com/736x/c9/56/49/c95649ed4ecd549c3df90c2d62459254.jpg" alt="">
                            </div>
                            <div class="w-[70%] text-center  content-center">
                                <p>PROJECT_NAME</p>
                            </div>
                        </div>
                                <div class="p-3 flex">
                                    <div class="w-[30%]">
                                        <img class="rounded-full" src="https://i.pinimg.com/736x/c9/56/49/c95649ed4ecd549c3df90c2d62459254.jpg" alt="">
                                    </div>
                                    <div class="w-[70%] text-center  content-center">
                                        <p>PROJECT_NAME</p>
                                    </div>
                                </div>
    </div>
</div>

  
{% endblock  %} 